header {
    background-color: #000;
}

.header__inner {
    display: inline-block;
    padding: 20px 5px;
    width: 1250px;
}

.header__logo {
    text-decoration: none;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
}