/* header {
    background-color: #000;
}

.header__inner {
    display: inline-block;
    padding: 20px 5px;
    width: 1250px;
}

.header__logo {
    text-decoration: none;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
} */

.success {
    background-color: #d1e7dd;
}

.success__inner {
    padding: 10px 25px;
}

.success {
    color: #0f5132;
}

main {
    /* border: yellow solid 10px; */
}

.form {
    width: 900px;
    margin: 0 auto;
}

.input {
    width: 900px;
    margin: 80px auto;
}

.input__txt {
    width: 600px;
    height: 50px;
    border: gray solid 1px;
}

.input__button {
    background-color: #000;
    color: #fff;
    padding: 15px 60px;
    border-radius: 3px;
    float: right;
}

.Todo {
    width: 900px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-bottom: gray solid 1px;
}

.item {
    /* border: green solid 1px; */
    width: 900px;
    margin: 0 auto;
    /* padding: 10px 0px; */
}

.item__inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: gray solid 1px;
    display: flex;
    justify-content: space-between;
}

.item__inner__value {
    display: inline-block;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

.item__inner__button {
    float: right;
    padding: 10px;
    /* border: blue solid 1px; */
}

.item__inner__button__update {
    padding: 10px 20px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.item__inner__button__delete {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
}